@use "./mixins.scss";

// Remove default scrollbar
::-webkit-scrollbar {
	display: none;
}
body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

// TODO: Fix scrollbar overflowing at the end
// Add new scrollbar
$width: .5em;
div#scrollbar {
	position: fixed;
	width: min(100%, 10em);
	height: 100%;
	right: 0;
	top: 0;
	z-index: 1;

	// Thumb
	> div#thumb {
		position: fixed;
		right: 0;
		top: 0;
		width: $width;
		background-color: gray;
		border-radius: 9999px;
		opacity: 0;
		@include mixins.transition(opacity .2s);
		z-index: 999;
	}

	&:hover > div#thumb {
		opacity: 1;
	}
}