nav {
  position: sticky;
  display: -webkit-flex;
  display: flex;
  background-color: rgb(225, 225, 225);
  max-height: 4em;
}
nav > menu {
  -ms-flex: 1;
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav > menu:first-child > li:has(> a > img) {
  padding: 0.5em 1em;
}
nav > menu:first-child > li > a,
nav > menu:first-child > li > a > img {
  min-height: 3em;
  display: block;
}
nav > menu:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav > menu > li {
  display: inline-block;
  padding: 1em;
  -webkit-transition: padding 0.5s;
  -moz-transition: padding 0.5s;
  -o-transition: padding 0.5s;
  transition: padding 0.5s;
}
nav a {
  text-decoration: none;
}

:root {
  --hb-foreground: black;
}

label.hamburger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4em;
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 3;
}
label.hamburger::before, label.hamburger::after,
label.hamburger > input {
  content: "";
  width: 2em;
  height: 0.4em;
  background-color: var(--hb-foreground);
  border-radius: 9999px;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: 2.8em center;
  -webkit-transition: background-color 0.1666666667s, width 0.5s, transform 0.5s, -webkit-transform 0.5s;
  -moz-transition: background-color 0.1666666667s, width 0.5s, transform 0.5s, -moz-transform 0.5s;
  -o-transition: background-color 0.1666666667s, width 0.5s, transform 0.5s, -o-transform 0.5s;
  transition: background-color 0.1666666667s, width 0.5s, transform 0.5s, -o-transform 0.5s, -ms-transform 0.5s, -moz-transform 0.5s, -webkit-transform 0.5s;
}
label.hamburger > input {
  width: 100%;
  border: none;
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
  opacity: 1;
  -webkit-transition: opacity 0.125s linear;
  -moz-transition: opacity 0.125s linear;
  -o-transition: opacity 0.125s linear;
  transition: opacity 0.125s linear;
}
label.hamburger > input:checked {
  --hb-foreground: white;
  opacity: 0;
}
label.hamburger:has(> input:checked)::before {
  -webkit-transform: rotate(-45deg) translateY(-0.32em);
  -moz-transform: rotate(-45deg) translateY(-0.32em);
  -ms-transform: rotate(-45deg) translateY(-0.32em);
  -o-transform: rotate(-45deg) translateY(-0.32em);
  transform: rotate(-45deg) translateY(-0.32em);
}
label.hamburger:has(> input:checked)::after {
  -webkit-transform: rotate(45deg) translateY(0.32em);
  -moz-transform: rotate(45deg) translateY(0.32em);
  -ms-transform: rotate(45deg) translateY(0.32em);
  -o-transform: rotate(45deg) translateY(0.32em);
  transform: rotate(45deg) translateY(0.32em);
}
label.hamburger:has(> input:checked)::before, label.hamburger:has(> input:checked)::after {
  --hb-foreground: white;
  width: 2.8284271247em;
}

li.hamburger {
  width: 2em;
  min-height: 2em;
  padding: 1em;
  display: none;
}

body:has(label.hamburger > input:checked) {
  overflow-y: hidden;
}

/*# sourceMappingURL=nav.css.map */
